MONGO_URI = "mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority"
MONGO_DB_NAME = "cnx200_rsi_dashboard"

LOG_LEVEL = "INFO"

HISTORICAL_START_DATE = ""
HISTORICAL_END_DATE = ""

NSE_MAX_RETRIES = 3
NSE_RETRY_MIN_WAIT = 2
NSE_RETRY_MAX_WAIT = 10
